body {
    background-color: rgb(179, 115, 115);
}

.container {
    vertical-align: middle;
    margin-top: 200px;
    background-color: rgb(204, 175, 122);
}

h1 {
    font-style: italic;
    color: white;
    text-align: center;
    vertical-align: middle;
    background-color: orange;
}

h2, p {
    text-align: center;
    background-color: papayawhip;
}