body {
    background-color: rgb(179, 115, 115);
}

.container {
    vertical-align: middle;
    margin-top: 200px;
    background-color: rgb(204, 175, 122);
    height: 100px;
}

h1 {
    font-style: italic;
    color: white;
    text-align: center;
    vertical-align: middle;
}

h2 {
    text-align: center;
}